name = "backend"
main = "server.js"
compatibility_date = "2025-11-25" 

# ESTA LINHA É ESSENCIAL PARA O PACOTE 'pg' FUNCIONAR
compatibility_flags = ["nodejs_compat"]

# Configuração do KV Store (Use o seu ID)
[[kv_namespaces]]
binding = "MURAL_STORE"
id = "c03f688aa2f74835a143172205b316d7"

# Variáveis de Ambiente
[vars]
BUNNY_LIBRARY_ID = "548459"
BUNNY_HOSTNAME = "vz-fa5ce9b4-0e3.b-cdn.net"
ADMIN_PASSWORD = "admin123"