name = "backend"
main = "server.js"
compatibility_date = "2025-11-25"

# COMPATIBILIDADE NODE.JS (VERSÃO ATUALIZADA)
compatibility_flags = ["nodejs_compat"]

# Configuração do KV Store
[[kv_namespaces]]
binding = "MURAL_STORE"
id = "c03f688aa2f74835a143172205b316d7"

# Variáveis de Ambiente
[vars]
BUNNY_LIBRARY_ID = "548459"
BUNNY_HOSTNAME = "vz-fa5ce9b4-0e3.b-cdn.net"
R2_PUBLIC_DOMAIN = "https://pub-b7b53312e6c44feab756e8163490e341.r2.dev" # PREENCHER COM SEU DOMINIO R2
# ADMIN_PASSWORD deve ser configurado via 'wrangler secret put ADMIN_PASSWORD'

# Observability (logs do Cloudflare)
[observability]
enabled = true

[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true

# Cloudflare R2 Bucket Binding
[[r2_buckets]]
binding = "VIDEO_BUCKET"
bucket_name = "sinopinhas-videos"
